* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1230px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/berg.png);
  background-size: cover;
}

.nav {
  padding-top: 40px;
  padding-bottom: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.link_icon {
  margin-left: 30px;
}

.links__item {
  padding-left: 30px;
}

.header__h2 {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
}

.header__h1 {
  font-size: 52px;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
}

.header__p {
  margin: 0 auto;
  width: 562px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  padding-bottom: 52px;
}

.header__button {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #998675;
  border-radius: 3px;
  border: none;
  min-width: 170px;
  height: 53px;
  margin-bottom: 382px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.orientation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 80px;
}

.orientation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 268px;
}

.orientation__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 30px;
}

.orientation__h2 {
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 19px;
}

.orientation__p {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 30px;
}

.band {
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.promo {
  background-color: #fbfaf8;
  position: relative;
}

.promo__h2 {
  padding-top: 83px;
  padding-bottom: 24px;
  text-align: center;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.promo__p {
  padding-bottom: 40px;
  margin: 0 auto;
  width: 760px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 482px;
}

.left_image {
  position: absolute;
  z-index: 0;
  top: 82px;
}

.center_image {
  position: absolute;
  z-index: 1;
  left: 230px;
}

.right_image {
  position: absolute;
  z-index: 0;
  left: 460px;
  top: 82px;
}

.purchase {
  height: 150px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purchase__h3 {
  font-family: Raleway;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-top: 48px;
  padding-left: 30px;
}

.purchase__h3_braun {
  color: #c7b299;
}

.purchase__p {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
  padding-left: 30px;
}

.purchase__button {
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  width: 170px;
  height: 50px;
  background-color: #998675;
  -webkit-box-shadow: inset 0px -3px 0px 0px #736357;
          box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 3px;
  margin-top: 50px;
  margin-right: 30px;
  border: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__h2 {
  padding-top: 80px;
  text-align: center;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.main__p {
  padding-top: 24px;
  margin: 0 auto;
  width: 760px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.main__button {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  padding: 10px 20px;
  background-color: rgba(17, 17, 17, 0);
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-left: 10px;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card__h3 {
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
}

.card__p {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.load {
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  width: 170px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 80px;
  background-color: #998675;
  -webkit-box-shadow: inset 0px -3px 0px 0px #736357;
          box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 3px;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.img_video {
  width: 100%;
}

.video {
  position: relative;
  text-align: center;
}

.play {
  position: absolute;
  left: 47%;
  top: 25%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.2;
  background-color: #000000;
}

.play__icon {
  position: absolute;
  top: 15%;
  left: 15%;
  opacity: 100%;
}

.video__h2 {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video__p {
  width: 561px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mobile {
  background-color: #fbfaf8;
}

.mobile_df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mobile__img {
  padding-top: 79px;
}

.mobile__h3 {
  padding-top: 195px;
  padding-bottom: 40px;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.mobile__p {
  width: 664px;
  padding-bottom: 45px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.mobile__ul {
  padding-left: 100px;
}

.mobile__li {
  position: relative;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
}

.statistik {
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.statistik__card {
  padding-top: 69px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistik__zahl {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
}

.statistik__info {
  padding-bottom: 30px;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
}

.statistik__stripe {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.posts__h2 {
  padding-top: 82px;
  text-align: center;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.posts__p {
  margin: 0 auto;
  text-align: center;
  width: 760px;
  font-family: Montserrat;
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.post_recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.posts__card {
  background-color: rgba(119, 119, 119, 0);
  border: 1px solid #f8f8f8;
  width: 370px;
  padding-bottom: 33px;
}

.posts__card__h3 {
  padding-left: 30px;
  padding-top: 30px;
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
}

.posts__card__p {
  padding-top: 19px;
  padding-bottom: 27px;
  padding-left: 30px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
}

.posts__card__link {
  padding-left: 30px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
}

.client {
  background-image: url(../images/bg_photo.png);
  height: 489px;
  background-size: cover;
}

.client_df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__top {
  background-color: #191919;
}

.ft-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.footer__top__card__p {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
}

.footer__top__card__link {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #d1d1d1;
}

.footer__top__card__h3 {
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.footer__post__h5 {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
}

.footer__post__p {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer__stripe {
  width: 270px;
  height: 2px;
  background-color: #252525;
}

.nick {
  color: #00bff3;
}

.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.w_top {
  margin-bottom: 10px;
}

.img_left {
  margin-right: 10px;
}

.footer__bottom {
  background-color: #111111;
}

.f_b_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 0;
}

.footer__bottom__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer__bottom__text_grey {
  color: #959595;
}

.footer__bottom__text_white {
  color: #c7b299;
}

.mobile__li::before {
  content: url(../icons/before.png);
  position: absolute;
  left: -50px;
  top: 5px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */